{% extends "registration/base.html" %}
{% load static %}

{% block application %}
    <form class="form-signin" method="post">
        {% csrf_token %}

        <h2 class="form-signin-heading">LessHMS login</h2>

        {% if form.errors %}
            <div class="alert alert-danger">Invalid username or password.</div>
        {% endif %}

        {% include "bootstrap/clean_form_field.html" with field=form.username %}
        {% include "bootstrap/clean_form_field.html" with field=form.password %}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    </form>
{% endblock %}