{% extends "index.html" %}

{% block application %}
    <div class="page-header">
        <h1>Project {{ project.name }}</h1>
    </div>

    <ul class="nav nav-tabs project-nav">
        <li{% if dm_item == "base" %} class="active"{% endif %}><a href="{% url 'projects:detail' project_id=project.id %}">Base</a></li>
        <li{% if dm_item == "nginx" %} class="active"{% endif %}><a href="{% url 'projects:project_nginx' project_id=project.id %}">Nginx</a></li>
        <li{% if dm_item == "uwsgi" %} class="active"{% endif %}><a href="{% url 'projects:project_uwsgi' project_id=project.id %}">Uwsgi</a></li>
        <li{% if dm_item == "packages" %} class="active"{% endif %}><a href="{% url 'projects:project_packages' project_id=project.id %}">Packages</a></li>
    </ul>

    {% block content %}
        <table class="table table-striped">
            <colgroup>
                <col width="200px"/>
                <col/>
            </colgroup>
            <thead>
                <tr>
                    <th>Param</th>
                    <th>Value</th>
                </tr>
            </thead>

            <tbody>

            <tr class="success">
                <td colspan="2">Basic</td>
            </tr>

            <tr>
                <td>Domain</td>
                <td>{{ project.domain.get_normal_name }}</td>
            </tr>

            <tr>
                <td>Project user</td>
                <td>{{ project.user.username }}</td>
            </tr>

            <tr>
                <td>Project path</td>
                <td>{{ project.get_project_root }}</td>
            </tr>

            <tr>
                <td>Virtualenv</td>
                <td>{{ project.get_virtualenv_dir }}</td>
            </tr>

            <tr class="success">
                <td colspan="2">UWSGI</td>
            </tr>

            <tr>
                <td>Conf</td>
                <td>{{ project.get_uwsgi_conf }}</td>
            </tr>

            <tr>
                <td>Socket</td>
                <td>{{ project.get_sock_path_for_uwsgi }}</td>
            </tr>

            <tr>
                <td>Touch</td>
                <td>{{ project.get_uwsgi_touch }}</td>
            </tr>

            <tr class="success">
                <td colspan="2">NGINX</td>
            </tr>

            <tr>
                <td>Domain</td>
                <td>{{ project.get_nginx_conf }}</td>
            </tr>

            </tbody>
        </table>
    {% endblock %}

{% endblock %}